{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{{ mixin_prop }}
{% for item in news %}
<div class="card mb-3">
    <div class="card-header">
        Category: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
    </div>
    <div class="card-body">
            {% if item.photo %}
            <img src="{{ item.photo.url }}" alt="" width="300" align="left" hspace="10" class="mr-3">
            {% else %}
            <img src="https://picsum.photos/300/235" alt="" align="left" hspace="10" class="mr-3">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.content|safe|linebreaks|truncatewords:50 }}</p>
                <div class="d-grid gap-2">
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more...</a>
                </div>
            </div>
    </div>
    <div class="card-footer text-muted">
        {{ item.created_at|date:"Y-m-d H:i" }}
    </div>
</div>
{% endfor %}

{% endblock %}
